<template>
  <div class="main-container">
    <h1>Furniture Price Predictor</h1>
    <h3><i>Поможем Вам определить ценник мебели на Avito</i></h3>
    <br>
    <h4 v-if = initial>Выберите изображение мебели для анализа:</h4>
    <div class="img-selector">
      <img class="img-container" v-if = imageSrcData :src= imageSrcData alt="Выбранное изображение">
      <br>
      <input type="file" ref="file" @change="onFileSelected" v-if = initial />
    </div>
    <div class="process-block" v-if = enableConfirmation>
      <div class="processing-settings" v-if = enableProcessingSettings>
        <div class="mode-container">
          <input type="radio" id="mode1" v-model = mode value="regression">
          <label for="mode1">Предположить точную цену</label>
        </div>
        <div class="mode-container">
          <input type="radio" id="mode2" v-model = mode value="classifier">
          <label for="mode2">Предположить диапазон цен</label>
        </div>
      </div>
      <button @click="onUpload">Вычислить предполагаемую цену!</button>
    </div>
    <div class="loading-view" v-if = loading>
      <p>Подождите, вычисляем предполагаемую цену...</p>
      <div class="spinner-container">
        <div class="orbit-spinner">
          <div class="orbit"></div>
          <div class="orbit"></div>
          <div class="orbit"></div>
        </div>
      </div>
    </div>
    <div class="result-view" v-if = processingResult>
      <p>{{processingResult}}</p>
      <button @click="restart">Повторить запрос</button>
    </div>
    <div class="error-view" v-if = processingError>
      <p>{{processingError}}</p>
      <button @click="restart">Попробовать снова</button>
    </div>
    <button class="bot_button" v-if="selectedFile" @click="reloadPage">Выбрать другое изображение</button>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'SinglePageView',
  data() {
    return {
      initial: true,
      enableConfirmation: false,
      selectedFile: null,
      imageSrcData: null,
      mode: "regression",
      loading: false,
      processingResult: null,
      processingError: null,
      enableProcessingSettings: false
    }
  },
  methods: {
    onFileSelected(event) {
      this.initial = false;
      this.enableConfirmation = true;
      this.selectedFile = event.target.files[0];
      this.imageSrcData = URL.createObjectURL(this.selectedFile);
    },
    onUpload() {
      let formData = new FormData();
      formData.append('file', this.selectedFile);
      this.enableConfirmation = false;

      if (this.mode !== "regression" && this.mode !== "classifier") {
        {
          {
            // eslint-disable-next-line no-console
            console.log('UNEXPECTED CONSTANT:' + this.mode);
          }
        }
      }

      let hostAddress = process.env.VUE_APP_BACKEND_ADDRESS;
      // eslint-disable-next-line no-console
      console.log(hostAddress);
      let url = hostAddress + 'process_image';

      if (this.enableProcessingSettings) {
        url += '?mode=' + this.mode;
      }

      this.startLoading();

      axios.post(
              url,
              formData,
              {
                headers: {
                  'Content-Type': 'multipart/form-data'
                }
              })
              .then(response => {
                this.handleInfo(response.data);
              })
              .catch(e => {
                this.handleError(e);
              })
    },
    startLoading() {
      this.processingError = null;
      this.processingResult = null;
      this.loading = true;
    },
    handleInfo(info) {
      this.loading = false;
      this.processingResult = info;
    },
    handleError(error) {
      this.loading = false;
      this.processingError = error;
    },
    restart() {
      this.loading = false;
      this.processingResult = null;
      this.processingError = null;
      this.onUpload();
    },
    reloadPage() {
      location.reload();
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .spinner-container {
    margin: auto;
    width: fit-content;
  }

  .orbit-spinner, .orbit-spinner * {
    box-sizing: border-box;
  }

  .orbit-spinner {

    height: 55px;
    width: 55px;
    border-radius: 50%;
    perspective: 800px;
  }

  .orbit-spinner .orbit {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .orbit-spinner .orbit:nth-child(1) {
    left: 0%;
    top: 0%;
    animation: orbit-spinner-orbit-one-animation 1200ms linear infinite;
    border-bottom: 3px solid #ff1d5e;
  }

  .orbit-spinner .orbit:nth-child(2) {
    right: 0%;
    top: 0%;
    animation: orbit-spinner-orbit-two-animation 1200ms linear infinite;
    border-right: 3px solid #41B883;
  }

  .orbit-spinner .orbit:nth-child(3) {
    right: 0%;
    bottom: 0%;
    animation: orbit-spinner-orbit-three-animation 1200ms linear infinite;
    border-top: 3px solid #35495E;
  }

  @keyframes orbit-spinner-orbit-one-animation {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

  @keyframes orbit-spinner-orbit-two-animation {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }

  @keyframes orbit-spinner-orbit-three-animation {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.process-block {
  margin-top: 30px;
}
.mode-container {
  margin: 10px;
}
.img-container {
  border: black solid 1px;
  max-height: 200px;
}

.bot_button {
  margin-top: 20px;
}
</style>
