<template>
  <div id="app">
<!--    <img alt="Vue logo" src="./assets/logo.png">  &lt;!&ndash; TODO: change or remove logo &ndash;&gt;-->
    <SinglePageView msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import SinglePageView from './components/SinglePageView.vue'

export default {
  name: 'app',
  components: {
    SinglePageView
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
